<div class="bg-accent py-10">
    <div class="container mx-auto px-10">
      <div class="flex flex-wrap items-center justify-between">
        <div class="flex items-center">
          <!-- Phone number -->
          <div class="bg-white p-2 rounded-full">
            <mat-icon>phone</mat-icon>
          </div>
          <p class="ml-3 font-normal text-lg leading-5 text-maincolor-100">032 2 100 100</p>
  
          <!-- Email -->
          <div class="bg-white p-2 rounded-full ml-10">
            <mat-icon>email</mat-icon>
          </div>
          <p class="ml-3 font-normal text-lg leading-5 text-maincolor-100">იაკობ ნიკოლაძე №10</p>
        </div>
  
        <div>
          <div class="grid grid-flow-col auto-cols-max gap-4 place-items-end">
            <mat-form-field appearance="fill">
              <input matInput placeholder="მოძებნე ექიმი სახელით" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <input matInput placeholder="მოძებნე სპეციალობით" />
            </mat-form-field>
  
            <!-- search -->
            <button mat-button class="bg-maincolor-100 p-2 rounded-full">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  