button{
width: 110px;
height: 40px;
top: 0px;
left: 150px;


}

.seleqti{

top: 0px;
left: 300px;
padding-left: 100px;

}

.damateba{
    top: 0px;
left: 300px;
padding-left: 300px;
}

.axali{
   
padding-top:0%;
padding-left: 10px;
}


