
<section style="position: relative;">
    <div style="display: grid; grid-template-columns: repeat(12, minmax(0, 1fr));" class="z-20 relative grid grid-cols-12">
        <div style="grid-column: span 12 / span 12; background-color: #053354; border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem; padding: 2.5rem;" class="col-span-12 sm:col-span-6 bg-[#053354]/40 rounded-r-lg p-10">
            <div style="width: 100%; margin-left: auto; margin-right: auto; padding-left: 2.5rem; padding-right: 2.5rem; padding-top: 6rem; padding-bottom: 6rem;" class="py-24 px-4 mx-auto container px-10 my-10">
                <h1 style="font-weight: 500; font-size: 3rem; color: #fff;" class="mb-4 font-semibold text-5xl text-white">აირჩიე კლინიკა რომელსაც <br><br> შეგიძლია ენდო</h1>

                <span style=" background-color: #fff; padding: 0.5rem; border-radius: 9999px;" class="bg-white text-maincolor-100 hover:bg-white/80 mt-10 p-2 rounded-full flex flex-row justify-center w-full sm:w-5/12">
                    <img src="assets/images/location.png">
                    <span style="margin-left: 1rem;" class="ml-4">
                        იაკობ ნიკოლაძე №10
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;" class="absolute inset-0 h-auto z-10">
        <img src="assets/images/slider.png" alt="Header" style="height: 100%; width: 100%; object-fit: cover;" class="h-full w-full object-cover h-full w-full">
    </div>
</section>
<div style="height: 400px;"></div>

